viTyping/bin/
viTyping/obj/
WordTest/obj/x86/Release/WordTest_MarkupCompile.i.lref
WordTest/obj/x86/Release/WordTest_MarkupCompile.i.cache
WordTest/obj/x86/Release/WordTest.csprojAssemblyReference.cache
WordTest/obj/x86/Release/WordTest.csproj.CoreCompileInputs.cache
WordTest/obj/x86/Release/TempPE/Properties.Resources.Designer.cs.dll
WordTest/obj/x86/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WordTest/obj/x86/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WordTest/obj/x86/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WordTest/obj/x86/Release/MainWindow.g.i.cs
WordTest/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
WordTest/obj/x86/Release/App.g.i.cs
WordTest/obj/x86/Debug/WordTest_MarkupCompile.i.lref
WordTest/obj/x86/Debug/WordTest_MarkupCompile.i.cache
WordTest/obj/x86/Debug/WordTest.csproj.CoreCompileInputs.cache
WordTest/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
WordTest/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WordTest/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WordTest/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WordTest/obj/x86/Debug/MainWindow.g.i.cs
WordTest/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WordTest/obj/x86/Debug/App.g.i.cs
WordTest/obj/Release/WordTest_MarkupCompile.lref
WordTest/obj/Release/WordTest_MarkupCompile.cache
WordTest/obj/Release/WordTest.csprojAssemblyReference.cache
WordTest/obj/Release/WordTest.csproj.CoreCompileInputs.cache
WordTest/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
WordTest/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WordTest/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WordTest/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WordTest/obj/Release/MainWindow.g.i.cs
WordTest/obj/Release/MainWindow.g.cs
WordTest/obj/Release/App.g.i.cs
WordTest/obj/Release/App.g.cs
WordTest/obj/Debug/WordTest_MarkupCompile.lref
WordTest/obj/Debug/WordTest_MarkupCompile.cache
WordTest/obj/Debug/WordTest.csprojAssemblyReference.cache
WordTest/obj/Debug/WordTest.csproj.CoreCompileInputs.cache
WordTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WordTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WordTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WordTest/obj/Debug/MainWindow.g.i.cs
WordTest/obj/Debug/MainWindow.g.cs
WordTest/obj/Debug/App.g.i.cs
WordTest/obj/Debug/App.g.cs
viTyping/.vs/viTyping/v15/Server/sqlite3/storage.ide-wal
viTyping/.vs/viTyping/v15/Server/sqlite3/storage.ide-shm
viTyping/.vs/viTyping/v15/Server/sqlite3/storage.ide
viTyping/.vs/viTyping/v15/Server/sqlite3/db.lock
viTyping/.vs/viTyping/v15/.suo
