viTyping/bin/
viTyping/obj/
viTyping/.vs/
WordTest/obj/
WordTest/bin/

WordTest/bin/Debug/wordtest.docx
WordTest/bin/Debug/WordTest.exe
WordTest/bin/Debug/WordTest.exe.config
WordTest/bin/Debug/WordTest.pdb
ProfileLibrary/bin/Debug/netstandard1.4/ProfileLibrary.deps.json
ProfileLibrary/bin/Debug/netstandard1.4/ProfileLibrary.dll
ProfileLibrary/bin/Debug/netstandard1.4/ProfileLibrary.pdb
ProfileLibrary/obj/Debug/netstandard1.4/ProfileLibrary.AssemblyInfo.cs
ProfileLibrary/obj/Debug/netstandard1.4/ProfileLibrary.csproj.CoreCompileInputs.cache
ProfileLibrary/obj/Debug/netstandard1.4/ProfileLibrary.csproj.FileListAbsolute.txt
ProfileLibrary/obj/Debug/netstandard1.4/ProfileLibrary.csprojAssemblyReference.cache
ProfileLibrary/obj/Debug/netstandard1.4/ProfileLibrary.dll
ProfileLibrary/obj/Debug/netstandard1.4/ProfileLibrary.pdb
ProfileLibrary/obj/Debug/netstandard1.4/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ProfileLibrary/obj/Debug/netstandard1.4/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ProfileLibrary/obj/Debug/netstandard1.4/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ProfileLibrary/obj/ProfileLibrary.csproj.nuget.cache
ProfileLibrary/obj/ProfileLibrary.csproj.nuget.g.props
ProfileLibrary/obj/ProfileLibrary.csproj.nuget.g.targets
ProfileLibrary/obj/project.assets.json
viTyping/ProfileLibrary/bin/Debug/ProfileLibrary.dll
viTyping/ProfileLibrary/bin/Debug/ProfileLibrary.pdb
viTyping/ProfileLibrary/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
viTyping/ProfileLibrary/obj/Debug/ProfileLibrary.csproj.CoreCompileInputs.cache
viTyping/ProfileLibrary/obj/Debug/ProfileLibrary.csproj.FileListAbsolute.txt
viTyping/ProfileLibrary/obj/Debug/ProfileLibrary.csprojAssemblyReference.cache
viTyping/ProfileLibrary/obj/Debug/ProfileLibrary.dll
viTyping/ProfileLibrary/obj/Debug/ProfileLibrary.pdb
viTyping/ProfileLibrary/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
viTyping/ProfileLibrary/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
viTyping/ProfileLibrary/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WordTest/bin/Debug/wordtest.docx
WordTest/bin/Debug/WordTest.exe
WordTest/bin/Debug/WordTest.exe.config
WordTest/bin/Debug/WordTest.pdb
WordTest/bin/Debug/wordtest.docx
WordTest/bin/Debug/WordTest.exe
WordTest/bin/Debug/WordTest.exe.config
WordTest/bin/Debug/WordTest.pdb
WordTest/bin/Debug/wordtest.docx
WordTest/bin/Debug/WordTest.exe
WordTest/bin/Debug/WordTest.exe.config
WordTest/bin/Debug/WordTest.pdb
